<html>
<head>
<title>Compare View</title>
<script type="text/javascript"></script>
</head>
<body>
	<h1>blah {{ iid }}</h1>
	<div id="leftView" url="{% url 'webgateway.views.full_viewer' iid %}">
		<div class="region region-content">
			<div class="block">
				<div class="content">
					<div class="section">

						<div class="caption">
							<div class="btn" id="prev">< < Previous</div>
							<div class="btn" id="next">Next > ></div>
							<div id="annotations" name="annotations"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="rightView" url="{% url 'webgateway.views.full_viewer' iid %}">
		<div class="region region-content">
			<div class="block">
				<div class="content">
					<div class="section">

						<div class="caption">
							<div class="btn" id="prev">< < Previous</div>
							<div class="btn" id="next">Next > ></div>
							<div id="annotations" name="annotations"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>